
이미지 총 1221  
train : 976  
valid : 122  
test : 123  
  
시작 전 한번 실행  
> poetry install  
  
_path : data 경로

In [91]:
import numpy as np
import os
from sklearn.model_selection import StratifiedGroupKFold
import pandas as pd
from tqdm import tqdm
import shutil
from glob import glob

In [92]:
_path = './data'
test_name = 'valid'
if 'test' in os.listdir(_path):
    test_name = 'test'

print(test_name)

test

In [93]:
train_abnormal_file = os.path.join(_path, 'train-abnormal.csv')
train_acl_file = os.path.join(_path, "train-acl.csv")
train_meniscus_file = os.path.join(_path, "train-meniscus.csv")

test_abnormal_file = os.path.join(_path, f"{test_name}-abnormal.csv")
test_acl_file = os.path.join(_path, f"{test_name}-acl.csv")
test_meniscus_file = os.path.join(_path, f"{test_name}-meniscus.csv")
test_abnormal_file

train_abnormal_df = pd.read_csv(train_abnormal_file, names=['name', 'abnormal'])
train_acl_df = pd.read_csv(train_acl_file, names=['name', 'acl'])
train_meniscus_df = pd.read_csv(train_meniscus_file, names=['name', 'meniscus'])

test_abnormal_df = pd.read_csv(test_abnormal_file, names=['name', 'abnormal'])
test_acl_df = pd.read_csv(test_acl_file, names=['name', 'acl'])
test_meniscus_df = pd.read_csv(test_meniscus_file, names=['name', 'meniscus'])

abnormal_df  = pd.concat([train_abnormal_df, test_abnormal_df], axis=0)
acl_df  = pd.concat([train_acl_df, test_acl_df], axis=0)
meniscus_df  = pd.concat([train_meniscus_df, test_meniscus_df], axis=0)

df = pd.concat([abnormal_df, acl_df['acl'],meniscus_df['meniscus']], axis=1).sort_values('name')
df

      name  abnormal  acl  meniscus
0        0         1    0         0
1        1         1    1         1
2        2         1    0         0
3        4         1    0         0
4        5         1    0         1
...    ...       ...  ...       ...
1094  1245         1    1         1
1095  1246         1    1         1
1096  1247         1    0         1
122   1248         1    1         1
1097  1249         1    0         1

[1221 rows x 4 columns]

In [94]:
with open('delete_list.txt', 'r') as f:
    delete_list =[int(line.rstrip('\n')[:4]) for line in f.readlines()]
# delete_list
idx = df[df['name'].isin(delete_list)].index

df = df[~df['name'].isin(delete_list)]
df

      name  abnormal  acl  meniscus
0        0         1    0         0
1        1         1    1         1
2        2         1    0         0
3        4         1    0         0
4        5         1    0         1
...    ...       ...  ...       ...
1094  1245         1    1         1
1095  1246         1    1         1
1096  1247         1    0         1
122   1248         1    1         1
1097  1249         1    0         1

[1221 rows x 4 columns]

In [95]:
classes = {0 : [0,0,0], 1 : [0,0,1], 2 : [0,1,0], 3 : [0,1,1], 4 : [1,0,0], 5 : [1,0,1], 6 : [1,1,0], 7 : [1,1,1]}
# [abnormal, acl, meniscus]

df['class'] = [[k for k, v in classes.items() 
                        if v == [df['abnormal'].iloc[i], df['acl'].iloc[i], df['meniscus'].iloc[i]]][0]
                        for i in range(df.shape[0])]
df

      name  abnormal  acl  meniscus  class
0        0         1    0         0      4
1        1         1    1         1      7
2        2         1    0         0      4
3        4         1    0         0      4
4        5         1    0         1      5
...    ...       ...  ...       ...    ...
1094  1245         1    1         1      7
1095  1246         1    1         1      7
1096  1247         1    0         1      5
122   1248         1    1         1      7
1097  1249         1    0         1      5

[1221 rows x 5 columns]

In [96]:
all = df.to_numpy()
X = np.ones(all.shape[0])
y = np.array([v[-1] for v in all])
groups = np.array([v[0] for v in all])
# groups
seed = 1024
fold_num = 5 # 0 ~ 9

cv = StratifiedGroupKFold(n_splits=10, shuffle=True, random_state=seed)

train_fold = []
test_fold = []

for train_idx, val_idx in cv.split(X, y, groups):
    print("TRAIN:", groups[train_idx])
    print(" ", y[train_idx])
    print(" TEST:", groups[val_idx])
    print(" ", y[val_idx])
    train_fold.append(groups[train_idx])
    test_fold.append(groups[val_idx])
print(train_fold[fold_num].shape)
print(test_fold[fold_num].shape)

TRAIN: [   0    1    4 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   2   13   21   30   39   56   63   75   85   91  100  118  125  129
  144  149  166  169  179  192  205  219  228  238  253  260  271  276
  287  299  305  321  328  342  352  364  367  378  387  405  408  413
  428  432  451  452  462  474  486  496  508  522  532  542  550  560
  569  586  596  598  608  628  643  652  658  666  668  681  692  710
  713  724  734  752  753  765  779  790  800  803  815  830  843  854
  862  869  878  891  899  911  923  940  950  952  961  975  976  984
  999 1008 1026 1041 1042 1054 1055 1074 1086 1093 1104 1114 1126 1135
 1150 1152 1167 1179 1192 1196 1205 1218 1228 1244]
  [4 4 0 5 5 4 5 4 4 5 4 0 5 4 0 0 6 4 7 4 6 4 0 0 7 5 4 4 4 0 7 7 7 0 4 4 4
 5 0 4 5 4 0 5 4 5 0 5 6 4 5 7 0 0 4 4 5 5 5 6 0 5 4 4 0 5 4 4 7 6 4 7 4 7
 5 4 5 4 4 4 4 5 5 5 5 6 0 5 4 6 5 4 5 4 5 4 4 0 7 0 5 7 4 6 4 6 0 0 4 4 5
 0 0 0 4 6 7 7 7 6 7 5]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   4   14   28   31   40   51   53   64   76   88  103  119  127  131
  146  157  167  168  184  193  206  214  218  229  239  250  263  272
  288  306  312  322  329  343  353  365  368  374  385  409  412  420
  425  438  449  464  467  476  489  494  510  525  533  548  557  558
  572  574  589  602  616  624  632  642  659  672  675  682  698  715
  716  723  737  754  760  766  781  791  804  805  816  831  840  858
  863  868  882  892  904  918  922  924  936  946  959  977  987  990
  997 1012 1028 1048 1049 1057 1061 1069 1091 1098 1106 1115 1125 1137
 1145 1153 1168 1180 1195 1198 1202 1220 1233 1245]
  [4 0 5 4 0 4 0 4 4 5 4 5 0 0 4 5 4 7 4 6 4 0 4 4 0 4 5 0 4 0 7 6 7 5 4 4 7
 7 5 0 4 0 0 6 4 4 0 0 5 7 4 0 0 0 7 0 5 4 0 5 4 7 4 4 4 5 0 4 5 4 5 7 4 4
 5 5 6 5 4 4 4 4 4 0 5 0 6 7 0 4 7 0 6 4 0 7 4 5 0 4 5 4 0 7 7 4 4 4 4 0 5
 0 0 0 4 4 7 6 7 7 5 7]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   5   17   26   34   42   55   65   66   77   90  106  120  128  130
  147  153  171  180  189  198  204  222  223  230  240  256  264  278
  285  300  313  323  332  341  344  359  371  379  390  395  414  418
  429  441  453  463  477  487  488  497  506  521  535  549  559  561
  570  588  600  605  618  630  644  651  656  667  678  683  704  707
  721  725  736  755  761  763  782  793  806  807  822  834  846  859
  870  883  884  893  907  912  925  928  942  948  962  979  986  992
  998 1014 1021 1031 1051 1059 1070 1077 1090 1092 1105 1116 1128 1138
 1155 1156 1170 1182 1193 1203 1207 1216 1219 1235 1246]
  [5 0 0 4 5 4 4 0 0 5 0 0 0 7 5 0 6 5 4 7 5 0 4 0 5 0 6 4 7 4 7 7 5 4 5 4 4
 4 6 4 5 4 5 5 4 5 0 5 7 4 7 6 5 0 6 5 5 0 0 5 4 4 0 6 4 4 0 5 4 5 7 4 5 4
 7 6 4 7 0 0 5 4 7 0 7 0 5 4 4 5 4 6 4 6 4 4 4 0 0 5 0 5 5 7 0 5 5 4 5 5 4
 0 4 4 4 6 6 7 7 7 6 5 7]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   6   20   25   29   41   54   67   78   81   89  108  121  132  134
  150  154  172  182  185  199  207  216  227  231  241  248  262  279
  290  303  315  324  330  345  354  363  366  391  393  410  415  426
  431  442  454  470  475  490  499  500  512  516  524  536  551  563
  573  590  604  606  614  631  634  640  657  673  684  685  697  702
  717  731  738  745  767  769  786  798  810  817  823  829  832  850
  861  871  879  895  900  914  926  937  947  949  965  980  988 1001
 1007 1015 1032 1040 1053 1060 1066 1073 1094 1099 1110 1113 1129 1143
 1154 1157 1169 1183 1197 1206 1208 1221 1231 1236 1243]
  [4 5 0 4 4 5 5 5 4 5 5 4 4 4 7 5 4 5 6 4 4 4 0 5 4 7 4 4 4 7 7 7 4 4 4 0 6
 4 4 0 0 5 5 0 4 5 0 5 0 5 4 4 5 4 7 0 5 4 5 4 4 7 0 6 5 4 6 0 6 4 4 4 4 6
 4 5 0 4 7 5 0 4 4 6 4 7 0 5 5 5 0 0 0 6 4 5 4 7 0 4 4 4 5 6 4 4 4 4 5 4 6
 0 4 4 4 6 7 6 6 5 5 5 5]
TRAIN: [   1    2    4 ... 1246 1248 1249]
  [7 4 4 ... 7 7 5]
 TEST: [   0   16   27   35   43   58   69   79   93   94  109  115  133  140
  143  155  173  178  195  202  208  215  233  242  252  254  266  273
  286  307  316  319  334  346  355  369  373  382  388  401  416  430
  433  444  455  471  472  480  482  501  511  526  531  545  564  571
  575  579  591  599  621  635  636  645  660  671  686  689  706  718
  726  727  740  757  770  771  787  797  811  818  819  833  835  847
  865  873  881  894  905  915  927  938  951  954  960  981  989 1002
 1011 1016 1030 1036 1045 1062 1075 1079 1095 1107 1118 1123 1124 1139
 1160 1162 1172 1173 1186 1199 1211 1224 1237 1247]
  [4 5 5 5 5 4 4 5 4 5 7 4 4 7 0 5 4 7 4 4 7 7 4 4 0 4 6 4 6 4 7 7 4 4 7 4 5
 5 5 4 5 0 5 5 4 6 0 4 5 7 5 5 5 4 5 0 5 5 4 0 0 5 5 7 7 0 4 0 4 5 5 0 7 4
 4 4 4 0 4 0 6 5 5 5 4 4 7 0 4 4 7 5 4 4 0 4 5 7 0 4 5 4 4 7 4 6 4 7 4 0 4
 0 4 4 7 7 7 7 7 7 7 5]
TRAIN: [   0    1    2 ... 1246 1247 1249]
  [4 7 4 ... 7 5 5]
 TEST: [   8   22   37   44   45   60   70   82   95   97  111  114  135  145
  156  158  174  187  194  197  209  226  232  243  249  267  280  283
  291  296  308  320  331  347  348  356  380  386  389  403  419  434
  435  443  456  473  478  483  502  507  514  518  528  539  553  562
  578  592  611  612  615  633  639  646  654  676  687  694  700  719
  728  732  741  758  772  775  780  792  812  821  824  837  851  855
  874  885  896  898  902  916  929  939  955  963  964  983  991 1003
 1017 1018 1034 1038 1052 1063 1067 1078 1097 1100 1119 1127 1132 1147
 1158 1166 1174 1188 1200 1209 1212 1225 1232 1241 1248]
  [4 5 7 0 5 0 5 0 4 4 5 4 6 4 4 6 7 4 5 4 4 4 4 0 4 0 5 0 0 0 6 7 7 5 5 5 7
 5 4 4 5 0 0 4 7 0 5 4 5 5 4 5 7 6 7 4 4 4 6 4 4 5 4 5 5 6 5 4 0 4 4 4 4 4
 0 5 4 6 7 0 0 4 4 4 0 5 4 4 5 5 4 4 5 5 7 0 4 0 4 4 0 5 0 4 4 7 4 5 0 0 0
 0 4 4 7 7 6 6 6 7 5 5 7]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   9   23   32   46   48   62   68   83   92  102  110  112  123  137
  141  159  175  183  196  210  217  224  234  244  251  268  284  289
  293  297  310  318  335  338  350  357  375  392  396  402  421  436
  439  445  459  465  479  491  498  509  515  527  534  537  554  565
  581  584  601  613  622  638  647  661  662  677  688  696  703  708
  720  729  742  748  762  774  783  799  813  820  827  836  839  848
  866  875  886  889  909  919  930  931  944  956  966  973  994 1000
 1013 1019 1029 1037 1046 1056 1076 1080 1088 1096 1108 1120 1130 1144
 1146 1161 1176 1181 1191 1210 1214 1223 1238 1242]
  [4 0 5 6 0 6 4 4 5 4 0 6 0 5 4 5 4 5 5 0 5 4 5 0 5 0 4 4 4 4 6 7 4 4 5 4 4
 7 4 4 7 4 0 4 0 0 4 0 6 0 0 6 4 4 5 0 5 4 5 4 4 4 4 5 5 5 7 4 0 5 5 6 5 4
 4 4 5 0 0 0 4 4 4 4 0 4 0 4 5 5 4 5 0 4 4 4 5 0 4 0 4 5 6 5 0 5 7 7 5 5 0
 0 0 4 7 6 7 6 6 5 5 5]
TRAIN: [   0    2    4 ... 1246 1247 1248]
  [4 4 4 ... 7 5 7]
 TEST: [   1   10   24   33   49   57   59   73   87   96  101  105  116  136
  152  160  164  170  188  200  212  220  235  245  255  261  269  277
  292  295  314  325  337  340  351  361  372  381  397  399  406  422
  424  440  447  460  469  481  493  503  513  519  529  543  547  552
  568  576  585  603  617  623  637  648  653  663  680  690  699  709
  712  735  744  746  749  773  776  785  801  808  825  838  844  849
  867  872  887  897  903  917  920  932  941  957  967  971  972  993
 1004 1020 1022 1027 1047 1058 1064 1081 1082 1087 1109 1121 1131 1140
 1148 1163 1175 1177 1187 1194 1213 1222 1239 1249]
  [7 5 4 5 7 5 7 4 6 0 6 7 5 4 5 4 6 0 7 4 4 5 5 0 6 4 4 5 4 4 7 7 0 5 4 5 0
 0 5 4 0 4 4 4 7 0 7 4 4 0 6 4 4 5 5 4 4 4 5 4 5 4 0 5 6 4 5 4 5 4 0 6 0 4
 5 7 7 5 6 0 0 4 4 4 0 0 5 5 4 6 7 7 5 6 4 4 5 5 4 0 4 0 4 4 0 0 0 4 4 4 0
 0 0 4 6 6 6 7 7 5 5 5]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   7   11   18   36   47   61   71   72   86   99  104  113  124  138
  148  162  163  176  190  203  211  221  236  246  257  259  274  281
  294  301  309  317  326  336  349  360  376  383  394  400  411  417
  437  446  450  458  466  484  492  504  517  530  538  540  555  566
  580  593  594  609  620  625  641  649  655  669  670  691  701  705
  714  730  743  751  756  777  784  789  802  809  826  841  845  852
  857  876  888  901  906  921  933  935  945  953  968  978  982  995
 1005 1023 1024 1035 1044 1065 1071 1085 1089 1102 1112 1117 1134 1141
 1149 1164 1171 1184 1190 1201 1215 1226 1234]
  [4 0 7 5 4 4 6 7 4 0 5 7 4 7 4 5 4 7 4 5 4 4 6 4 4 7 4 5 5 4 6 6 5 4 4 5 4
 5 4 0 4 5 0 5 0 7 0 4 0 0 7 5 4 4 6 4 0 4 5 4 7 0 0 5 5 4 6 5 7 4 6 4 4 5
 4 0 5 6 0 4 4 0 0 4 5 4 4 4 4 6 6 4 7 4 4 7 5 4 0 4 0 4 4 5 0 5 4 5 5 7 0
 0 0 4 4 7 6 7 6 5 5]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [  12   15   19   38   50   52   74   80   84   98  107  117  126  139
  151  161  177  181  186  191  201  213  225  237  247  258  270  282
  298  302  304  311  327  333  339  362  377  384  398  404  407  423
  427  448  457  461  468  485  495  505  520  523  541  546  556  567
  583  595  597  607  626  627  629  650  664  674  679  693  695  711
  722  733  739  747  759  778  788  794  796  814  828  842  853  856
  860  877  880  890  908  910  913  934  943  958  969  974  985  996
 1006 1025 1033 1039 1050 1068 1072 1083 1084 1103 1111 1122 1133 1142
 1151 1165 1178 1185 1189 1204 1217 1227 1240]
  [0 4 5 5 4 5 0 7 5 5 4 0 7 4 4 4 0 0 5 7 6 4 0 4 4 0 7 6 7 7 4 7 5 5 4 0 0
 0 4 0 5 5 6 6 5 0 4 4 0 4 6 4 4 5 4 4 0 4 0 7 4 4 5 4 4 0 5 5 4 0 6 4 4 4
 0 7 0 4 4 6 4 7 5 4 0 4 4 5 4 5 7 0 4 4 7 4 5 4 0 0 4 4 4 5 0 5 4 4 5 4 0
 0 0 4 6 6 4 6 0 5 5]
(1098,)
(123,)

In [97]:
# check distribution
from collections import Counter
import pandas as pd

def get_distribution(y):
    y_distr = Counter(y)
    y_vals_sum = sum(y_distr.values())

    return [f'{y_distr[i]/y_vals_sum:.2%}' for i in range(np.max(y) +1)]

distrs = [get_distribution(y)]
index = ['training set']

for fold_ind, (train_idx, val_idx) in enumerate(cv.split(X,y, groups)):
    train_y, val_y = y[train_idx], y[val_idx]
    train_gr, val_gr = groups[train_idx], groups[val_idx]

    assert len(set(train_gr) & set(val_gr)) == 0 
    
    distrs.append(get_distribution(train_y))
    distrs.append(get_distribution(val_y))
    index.append(f'train - fold{fold_ind}')
    index.append(f'test - fold{fold_ind}')

categories = [i for i in range(8)]
pd.DataFrame(distrs, index=index, columns = [categories[i] for i in range(np.max(y) + 1)])

                    0      1      2      3       4       5       6       7
training set   19.66%  0.00%  0.00%  0.00%  36.36%  23.18%   8.52%  12.29%
train - fold0  19.75%  0.00%  0.00%  0.00%  36.49%  23.02%   8.46%  12.28%
test - fold0   18.85%  0.00%  0.00%  0.00%  35.25%  24.59%   9.02%  12.30%
train - fold1  19.02%  0.00%  0.00%  0.00%  36.31%  23.84%   8.83%  12.01%
test - fold1   25.41%  0.00%  0.00%  0.00%  36.89%  17.21%   5.74%  14.75%
train - fold2  19.49%  0.00%  0.00%  0.00%  37.16%  22.86%   8.38%  12.11%
test - fold2   21.14%  0.00%  0.00%  0.00%  29.27%  26.02%   9.76%  13.82%
train - fold3  20.13%  0.00%  0.00%  0.00%  35.88%  23.04%   8.29%  12.66%
test - fold3   15.45%  0.00%  0.00%  0.00%  40.65%  24.39%  10.57%   8.94%
train - fold4  20.29%  0.00%  0.00%  0.00%  36.31%  22.93%   9.01%  11.46%
test - fold4   13.93%  0.00%  0.00%  0.00%  36.89%  25.41%   4.10%  19.67%
train - fold5  19.67%  0.00%  0.00%  0.00%  36.34%  23.13%   8.56%  12.30%
test - fold5   19.51%  0.00%  0.00%  0.00%  36.59%  23.58%   8.13%  12.20%
train - fold6  19.38%  0.00%  0.00%  0.00%  36.40%  22.84%   8.46%  12.92%
test - fold6   22.13%  0.00%  0.00%  0.00%  36.07%  26.23%   9.02%   6.56%
train - fold7  19.65%  0.00%  0.00%  0.00%  36.58%  23.20%   8.28%  12.28%
test - fold7   19.67%  0.00%  0.00%  0.00%  34.43%  22.95%  10.66%  12.30%
train - fold8  19.91%  0.00%  0.00%  0.00%  36.09%  23.36%   8.36%  12.27%
test - fold8   17.36%  0.00%  0.00%  0.00%  38.84%  21.49%   9.92%  12.40%
train - fold9  19.27%  0.00%  0.00%  0.00%  36.09%  23.55%   8.55%  12.55%
test - fold9   23.14%  0.00%  0.00%  0.00%  38.84%  19.83%   8.26%   9.92%

In [98]:

train_id = train_fold[fold_num]
test_id = test_fold[fold_num]

In [99]:
before_test_path = os.path.join(_path, test_name)
train_path = os.path.join(_path, 'train')

for plane in os.listdir(before_test_path):
    if plane[0] == '.':
        continue
    print(plane)

    now_path = os.path.join(before_test_path, plane)
    des_path = os.path.join(train_path, plane)
    
    if not os.path.exists(des_path):
        os.makedirs(des_path)
    
    for num in tqdm(os.listdir(now_path)):
        shutil.move(
            os.path.join(now_path, num),
            os.path.join(des_path, num)
        )
if os.path.exists(os.path.join(_path, 'valid')):
    shutil.rmtree(os.path.join(_path, 'valid'))

axial

100%|██████████| 123/123 [00:00<00:00, 1069.56it/s]

coronal

100%|██████████| 123/123 [00:00<00:00, 809.49it/s]

sagittal

100%|██████████| 123/123 [00:00<00:00, 865.03it/s]

In [100]:
with open('delete_list.txt', 'r') as f:
    delete_npy_list =[line.rstrip('\n') for line in f.readlines()]

for plane in os.listdir(train_path):
    if plane[0] == '.':
        continue
    print(plane)

    now_path = os.path.join(train_path, plane)

    for num in tqdm(os.listdir(now_path)):
        if num[0] == '.':
            continue
        if num in delete_npy_list:
            os.remove(os.path.join(now_path, num))

axial

100%|██████████| 1222/1222 [00:00<00:00, 610753.04it/s]

coronal

100%|██████████| 1222/1222 [00:00<00:00, 1222088.58it/s]

sagittal

100%|██████████| 1222/1222 [00:00<00:00, 611992.77it/s]

In [101]:
test_path = os.path.join(_path, 'test')
if not os.path.exists(test_path):
    os.makedirs(test_path)

for plane in os.listdir(train_path):

    if plane[0] == '.':
        continue
    print(plane)

    now_path = os.path.join(train_path, plane)
    des_test_path = os.path.join(test_path, plane)
    if not os.path.exists(des_test_path):
        os.makedirs(des_test_path)

    for num in tqdm(test_id):
        file_name = str(num).zfill(4) + '.npy'
        shutil.move(
            os.path.join(now_path, file_name),
            os.path.join(des_test_path, file_name)
        )

axial

100%|██████████| 123/123 [00:00<00:00, 523.40it/s]

coronal

100%|██████████| 123/123 [00:00<00:00, 808.77it/s]

sagittal

100%|██████████| 123/123 [00:00<00:00, 1000.06it/s]

In [102]:
csv_list = glob(os.path.join(_path, '*.csv'))
for csv_file in csv_list:
    os.remove(csv_file)

In [103]:
def name_change(x):
    return str(x).zfill(4)

train_line = [line for line in all if line[0] in train_id]
test_line = [line for line in all if line[0] in test_id]
print(len(train_line))
print(len(test_line))
train_csv = pd.DataFrame(train_line, columns=df.columns)
train_csv['name'] = train_csv['name'].apply(name_change)
valid_csv = pd.DataFrame(test_line, columns=df.columns)
valid_csv['name'] = valid_csv['name'].apply(name_change)

t_abnormal = train_csv[['name', 'abnormal']]
t_abnormal.to_csv(os.path.join(_path, "train-abnormal.csv"), header=False, index=False)
t_acl = train_csv[['name', 'acl']]
t_acl.to_csv(os.path.join(_path, "train-acl.csv"), header=False, index=False)
t_meniscus = train_csv[['name', 'meniscus']]
t_meniscus.to_csv(os.path.join(_path, "train-meniscus.csv"), header=False, index=False)

test_abnormal = valid_csv[['name', 'abnormal']]
test_abnormal.to_csv(os.path.join(_path, "test-abnormal.csv"), header=False, index=False)
test_acl = valid_csv[['name', 'acl']]
test_acl.to_csv(os.path.join(_path, "test-acl.csv"), header=False, index=False)
test_meniscus = valid_csv[['name', 'meniscus']]
test_meniscus.to_csv(os.path.join(_path, "test-meniscus.csv"), header=False, index=False)

1098
123