
이미지 총 1250  
train : 1000  
valid : 125  
test : 125  
  
시작 전 한번 실행  
> poetry install  
  
_path : data 경로

In [111]:
import numpy as np
import os
from sklearn.model_selection import StratifiedGroupKFold
import pandas as pd
from tqdm import tqdm
import shutil
from glob import glob

In [112]:
_path = './data'
test_name = 'valid'
if 'test' in os.listdir(_path):
    test_name = 'test'

print(test_name)

test

In [113]:
train_abnormal_file = os.path.join(_path, 'train-abnormal.csv')
train_acl_file = os.path.join(_path, "train-acl.csv")
train_meniscus_file = os.path.join(_path, "train-meniscus.csv")

test_abnormal_file = os.path.join(_path, f"{test_name}-abnormal.csv")
test_acl_file = os.path.join(_path, f"{test_name}-acl.csv")
test_meniscus_file = os.path.join(_path, f"{test_name}-meniscus.csv")
test_abnormal_file

train_abnormal_df = pd.read_csv(train_abnormal_file, names=['name', 'abnormal'])
train_acl_df = pd.read_csv(train_acl_file, names=['name', 'acl'])
train_meniscus_df = pd.read_csv(train_meniscus_file, names=['name', 'meniscus'])

test_abnormal_df = pd.read_csv(test_abnormal_file, names=['name', 'abnormal'])
test_acl_df = pd.read_csv(test_acl_file, names=['name', 'acl'])
test_meniscus_df = pd.read_csv(test_meniscus_file, names=['name', 'meniscus'])

abnormal_df  = pd.concat([train_abnormal_df, test_abnormal_df], axis=0)
acl_df  = pd.concat([train_acl_df, test_acl_df], axis=0)
meniscus_df  = pd.concat([train_meniscus_df, test_meniscus_df], axis=0)

df = pd.concat([abnormal_df, acl_df['acl'],meniscus_df['meniscus']], axis=1).sort_values('name')
df

      name  abnormal  acl  meniscus
0        0         1    0         0
1        1         1    1         1
2        2         1    0         0
3        3         1    0         1
4        4         1    0         0
...    ...       ...  ...       ...
1121  1245         1    1         1
1122  1246         1    1         1
1123  1247         1    0         1
124   1248         1    1         1
1124  1249         1    0         1

[1250 rows x 4 columns]

In [114]:
classes = {0 : [0,0,0], 1 : [0,0,1], 2 : [0,1,0], 3 : [0,1,1], 4 : [1,0,0], 5 : [1,0,1], 6 : [1,1,0], 7 : [1,1,1]}
# [abnormal, acl, meniscus]

df['class'] = [[k for k, v in classes.items() 
                        if v == [df['abnormal'].iloc[i], df['acl'].iloc[i], df['meniscus'].iloc[i]]][0]
                        for i in range(df.shape[0])]
df

      name  abnormal  acl  meniscus  class
0        0         1    0         0      4
1        1         1    1         1      7
2        2         1    0         0      4
3        3         1    0         1      5
4        4         1    0         0      4
...    ...       ...  ...       ...    ...
1121  1245         1    1         1      7
1122  1246         1    1         1      7
1123  1247         1    0         1      5
124   1248         1    1         1      7
1124  1249         1    0         1      5

[1250 rows x 5 columns]

In [115]:
all = df.to_numpy()
X = np.ones(all.shape[0])
y = np.array([v[-1] for v in all])
groups = np.array([v[0] for v in all])
# groups
seed = 7777
fold_num = 6 # 0 ~ 9

cv = StratifiedGroupKFold(n_splits=10, shuffle=True, random_state=seed)

train_fold = []
test_fold = []

for train_idx, val_idx in cv.split(X, y, groups):
    print("TRAIN:", groups[train_idx])
    print(" ", y[train_idx])
    print(" TEST:", groups[val_idx])
    print(" ", y[val_idx])
    train_fold.append(groups[train_idx])
    test_fold.append(groups[val_idx])

test_fold[fold_num].shape

TRAIN: [   0    2    3 ... 1247 1248 1249]
  [4 4 5 ... 5 7 5]
 TEST: [   1   10   26   32   39   40   56   71   84   87  100  114  116  129
  136  154  165  172  177  190  207  213  222  230  243  251  258  268
  276  286  295  317  322  326  332  346  361  369  376  389  397  409
  428  432  440  450  462  470  476  489  502  507  518  531  545  555
  559  571  577  586  595  617  624  627  638  651  662  671  682  688
  698  709  723  730  744  745  755  769  781  792  801  816  818  829
  838  850  866  867  877  894  902  906  923  933  939  947  956  967
  978  993 1001 1005 1018 1028 1042 1053 1056 1067 1086 1087 1099 1113
 1124 1128 1144 1147 1157 1168 1183 1192 1206 1207 1219 1232 1243]
  [7 5 0 5 5 0 4 6 5 6 4 4 5 4 4 5 4 4 0 4 4 4 0 0 0 5 0 0 4 6 4 6 6 5 5 4 5
 4 4 4 5 0 0 5 4 0 0 5 0 5 5 5 5 5 4 6 6 0 5 5 4 5 7 4 4 6 5 0 4 7 5 4 7 4
 0 6 4 5 6 6 6 4 0 4 4 6 0 0 4 0 5 4 5 6 4 0 4 4 7 5 7 0 4 5 4 5 5 4 0 4 4
 4 4 4 0 0 4 4 6 7 6 7 6 5 5]
TRAIN: [   0    1    3 ... 1247 1248 1249]
  [4 7 5 ... 5 7 5]
 TEST: [   2   11   21   33   45   47   64   75   86   89   99  115  130  141
  144  155  166  175  179  191  204  214  217  231  244  255  256  269
  278  289  296  309  324  336  341  356  363  365  387  390  403  414
  415  423  441  454  463  481  482  490  505  506  519  528  533  549
  561  572  589  598  600  608  616  626  640  654  661  676  683  689
  699  713  724  732  734  748  757  775  782  791  803  817  823  826
  839  852  864  871  879  896  908  911  924  934  945  948  959  968
  986  994  997 1007 1015 1027 1044 1057 1060 1069 1089 1090 1102 1104
 1108 1123 1133 1146 1159 1170 1184 1195 1203 1209 1224 1231 1244]
  [4 0 0 5 5 4 4 4 4 5 0 4 7 4 0 5 6 4 7 7 5 0 5 5 0 6 0 4 4 4 0 6 7 4 4 5 0
 4 0 6 4 5 0 5 5 4 5 4 5 5 4 7 4 7 0 0 5 5 0 6 0 0 4 4 6 5 5 6 5 0 5 4 7 4
 4 4 4 5 4 5 4 5 0 4 4 4 5 7 0 4 4 6 0 0 7 6 0 4 4 5 0 0 4 0 4 7 6 4 4 5 5
 4 5 0 0 0 4 4 7 7 7 6 7 5 5]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   3   14   27   34   46   52   60   73   88   92  101  119  131  139
  140  156  162  180  181  192  210  216  225  233  246  259  260  273
  290  297  300  315  328  335  345  349  362  377  388  391  399  416
  424  436  442  453  457  464  483  485  508  509  520  532  542  560
  562  573  581  599  604  613  618  628  646  649  663  677  686  690
  700  708  717  735  747  758  759  770  771  784  795  805  820  832
  840  854  862  868  881  899  907  915  917  935  949  952  964  971
  987  995 1009 1011 1019 1029 1046 1062 1064 1070 1088 1094 1100 1109
 1125 1140 1148 1152 1158 1173 1179 1196 1204 1210 1220 1236 1245]
  [5 0 5 4 6 5 0 4 5 5 6 5 0 4 7 4 5 5 0 4 0 4 0 4 4 7 5 4 4 4 4 7 7 4 4 4 0
 0 5 4 4 5 4 4 0 4 5 4 4 4 5 0 6 0 0 4 4 5 5 0 5 4 4 5 5 5 4 5 4 4 0 5 4 6
 4 4 0 4 4 5 4 4 0 4 4 5 5 0 7 4 4 4 6 4 6 4 7 4 4 4 6 0 0 4 6 7 0 0 7 4 5
 4 5 0 0 0 4 7 6 7 6 6 7 5 7]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   4   13   28   37   49   53   61   76   91   95  103  120  121  132
  138  157  164  182  183  186  205  209  226  236  247  257  262  274
  283  287  298  310  327  338  347  348  358  373  381  392  402  417
  426  438  443  451  467  477  486  491  510  521  523  534  538  547
  565  574  584  602  605  621  629  630  641  653  664  672  691  693
  702  712  722  736  750  761  762  773  785  793  808  815  834  837
  842  853  869  882  883  895  901  909  919  941  944  957  965  970
  989  996 1002 1012 1020 1032 1049 1054 1068 1071 1091 1098 1101 1114
 1126 1135 1154 1160 1167 1174 1185 1197 1208 1212 1225 1233 1246]
  [4 4 5 7 7 0 4 4 5 4 4 0 4 4 7 5 6 5 5 5 6 4 4 6 4 4 4 4 0 4 7 6 5 4 5 5 4
 5 0 7 4 5 5 6 4 4 0 0 6 0 4 6 4 4 4 5 0 4 4 5 5 0 5 4 0 6 4 5 5 5 4 0 6 5
 5 7 4 7 5 7 0 4 4 4 7 5 6 6 0 5 4 5 5 5 0 6 4 7 5 4 7 4 0 4 0 6 5 0 4 4 7
 4 5 0 4 4 4 7 6 7 6 6 7 5 7]
TRAIN: [   0    1    2 ... 1246 1248 1249]
  [4 7 4 ... 7 7 5]
 TEST: [   5   15   25   38   48   57   66   78   94   97  102  110  126  137
  145  158  167  185  193  197  203  206  227  235  248  261  272  279
  291  299  303  311  329  339  352  355  359  374  393  396  405  418
  430  446  452  455  456  468  478  492  512  522  524  539  551  564
  566  575  583  585  609  619  631  634  648  650  665  673  687  692
  703  714  728  737  751  763  765  777  786  800  806  821  828  841
  843  858  863  870  880  903  912  918  921  942  950  966  969  972
  980  998 1006 1014 1022 1035 1047 1063 1072 1074 1078 1092 1105 1112
 1129 1136 1155 1162 1175 1176 1182 1198 1213 1221 1223 1238 1247]
  [5 4 0 5 0 5 0 5 5 4 4 0 7 5 4 6 4 6 6 4 5 4 0 5 7 4 0 4 0 0 7 7 7 4 4 7 4
 7 4 4 4 4 0 5 5 4 7 4 5 0 4 7 5 6 7 5 4 5 0 5 4 7 7 0 5 4 4 4 5 7 0 6 4 4
 5 6 4 0 0 4 0 0 4 0 5 0 5 7 4 4 5 4 6 4 5 4 7 5 5 0 0 5 4 4 4 4 0 6 7 4 5
 5 6 0 4 4 6 7 6 6 7 5 5 5 5]
TRAIN: [   0    1    2 ... 1246 1247 1249]
  [4 7 4 ... 7 5 5]
 TEST: [   7   16   29   41   50   62   67   72   81   90  105  111  123  127
  142  151  168  174  188  198  208  218  220  224  242  249  264  280
  292  304  306  318  321  337  354  360  367  375  384  406  408  412
  419  433  439  458  472  487  493  495  511  525  526  536  544  546
  567  578  591  594  603  615  635  645  647  656  666  679  694  696
  704  716  729  739  752  764  767  772  776  787  794  809  822  830
  846  859  865  872  884  897  910  920  922  943  946  958  973  979
  984  999 1008 1023 1031 1034 1036 1045 1059 1077 1080 1082 1103 1115
 1131 1137 1139 1149 1163 1169 1186 1194 1199 1211 1218 1240 1248]
  [4 5 4 4 4 6 5 7 4 5 7 5 0 0 5 4 7 7 7 7 7 4 5 4 4 4 6 5 4 4 0 7 7 0 4 5 4
 4 0 0 5 4 5 5 0 7 0 5 4 0 5 0 5 4 5 5 4 4 4 5 4 4 5 7 4 4 5 5 4 4 4 5 6 4
 7 4 4 0 7 4 4 4 5 5 7 0 4 0 5 5 5 7 7 4 4 4 4 4 0 7 0 4 5 0 4 4 7 5 5 0 4
 0 0 0 0 0 4 4 7 7 7 7 6 5 7]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   8   12   19   30   42   51   65   70   82   96  104  107  112  128
  146  148  152  169  184  194  200  211  223  234  237  252  263  275
  282  293  301  319  320  323  340  350  364  368  378  385  407  410
  413  429  447  459  460  469  488  494  497  499  527  535  537  548
  568  576  587  588  601  606  620  632  639  652  657  668  674  695
  705  715  719  725  740  753  766  778  783  796  802  810  824  831
  848  851  857  875  885  889  900  913  926  929  932  951  960  974
  981  985 1003 1010 1024 1033 1040 1048 1065 1075 1076 1093 1106 1116
 1127 1130 1141 1153 1165 1177 1181 1187 1190 1214 1222 1226 1235]
  [4 0 5 5 5 4 4 5 0 0 5 4 6 0 4 4 5 4 4 5 4 4 4 5 4 0 5 6 6 4 4 7 7 7 5 5 4
 7 5 5 5 0 4 5 7 0 0 7 7 7 4 0 6 5 4 0 4 4 4 0 5 4 7 4 4 4 5 4 0 4 4 4 4 4
 7 5 5 7 5 4 0 7 0 4 4 4 5 4 5 4 5 7 0 4 7 4 0 4 4 5 0 5 0 4 4 4 5 4 0 0 4
 5 0 0 0 0 4 6 6 6 6 6 5 5 5]
TRAIN: [   1    2    3 ... 1247 1248 1249]
  [7 4 5 ... 5 7 5]
 TEST: [   0   17   20   31   35   55   59   69   74   98  106  113  117  133
  143  147  159  171  187  189  196  212  228  232  238  250  265  270
  285  288  302  313  325  330  343  351  366  370  379  394  400  420
  421  434  448  461  465  473  479  498  501  514  517  540  550  553
  558  570  579  592  596  607  622  633  642  655  658  669  678  697
  707  718  726  738  741  746  768  774  788  798  807  811  819  833
  844  847  861  873  886  891  892  914  927  931  936  953  961  975
  983  991 1000 1016 1021 1037 1043 1051 1066 1073 1079 1095 1107 1117
 1121 1138 1142 1156 1161 1171 1188 1193 1200 1215 1227 1228 1234]
  [4 0 5 4 5 4 7 4 0 5 0 7 0 4 0 5 5 6 4 4 5 4 0 4 0 4 7 7 7 4 7 7 7 4 5 4 6
 5 4 4 0 0 7 0 6 0 0 0 4 6 7 4 7 4 4 7 0 5 5 4 5 7 4 5 4 5 0 4 0 6 5 5 5 4
 4 4 5 4 0 4 0 4 6 5 4 5 4 4 0 5 7 5 7 5 6 4 5 4 0 4 0 4 0 5 4 5 4 4 6 4 7
 7 4 0 0 4 4 4 7 6 6 6 5 7 5]
TRAIN: [   0    1    2 ... 1247 1248 1249]
  [4 7 4 ... 5 7 5]
 TEST: [   6   18   23   36   43   54   68   80   85   93  108  118  122  135
  149  153  160  173  176  199  201  215  221  240  245  253  266  271
  277  294  305  312  331  333  342  353  371  380  382  398  401  411
  425  431  437  445  466  474  480  500  503  515  529  541  554  556
  557  563  580  590  610  623  625  636  643  659  667  675  680  681
  701  720  727  742  743  749  760  779  789  799  812  814  825  835
  845  855  856  876  887  890  893  905  928  938  940  954  962  976
  988  990  992 1017 1026 1038 1050 1052 1058 1081 1084 1096 1110 1119
 1120 1134 1143 1151 1164 1178 1180 1201 1202 1216 1229 1237 1239]
  [4 7 0 5 5 5 4 7 4 4 5 0 0 6 0 0 4 4 7 4 6 7 4 5 0 7 6 4 5 5 7 7 7 5 0 4 4
 7 5 4 4 4 0 5 0 4 0 5 4 5 0 0 4 4 5 4 7 0 0 4 4 4 0 5 4 4 4 0 5 4 7 5 0 5
 4 5 5 5 6 0 7 6 0 5 0 4 4 4 5 5 4 4 6 5 4 4 4 4 4 5 0 4 5 5 4 0 4 0 4 7 5
 0 5 0 0 0 4 6 4 7 7 7 7 7 5]
TRAIN: [   0    1    2 ... 1246 1247 1248]
  [4 7 4 ... 7 5 7]
 TEST: [   9   22   24   44   58   63   77   79   83  109  124  125  134  150
  161  163  170  178  195  202  219  229  239  241  254  267  281  284
  307  308  314  316  334  344  357  372  383  386  395  404  422  427
  435  444  449  471  475  484  496  504  513  516  530  543  552  569
  582  593  597  611  612  614  637  644  660  670  684  685  706  710
  711  721  731  733  754  756  780  790  797  804  813  827  836  849
  860  874  878  888  898  904  916  925  930  937  955  963  977  982
 1004 1013 1025 1030 1039 1041 1055 1061 1083 1085 1097 1111 1118 1122
 1132 1145 1150 1166 1172 1189 1191 1205 1217 1230 1241 1242 1249]
  [4 5 4 0 4 5 0 5 4 7 4 5 4 7 4 4 0 7 4 4 4 4 0 4 4 0 5 4 4 6 7 7 4 5 4 0 5
 5 4 0 4 6 0 5 4 6 0 4 4 0 6 4 5 5 4 5 7 4 0 6 4 4 0 0 7 6 6 0 4 6 0 7 4 4
 4 4 4 4 0 4 0 4 4 4 0 0 0 4 4 0 5 4 4 0 5 5 7 5 4 4 0 5 4 7 4 7 5 5 4 5 4
 4 0 0 0 4 7 4 7 7 0 5 5 5 5]

(125,)

In [116]:
# check distribution
from collections import Counter
import pandas as pd

def get_distribution(y):
    y_distr = Counter(y)
    y_vals_sum = sum(y_distr.values())

    return [f'{y_distr[i]/y_vals_sum:.2%}' for i in range(np.max(y) +1)]

distrs = [get_distribution(y)]
index = ['training set']

for fold_ind, (train_idx, val_idx) in enumerate(cv.split(X,y, groups)):
    train_y, val_y = y[train_idx], y[val_idx]
    train_gr, val_gr = groups[train_idx], groups[val_idx]

    assert len(set(train_gr) & set(val_gr)) == 0 
    
    distrs.append(get_distribution(train_y))
    distrs.append(get_distribution(val_y))
    index.append(f'train - fold{fold_ind}')
    index.append(f'test - fold{fold_ind}')

categories = [i for i in range(8)]
pd.DataFrame(distrs, index=index, columns = [categories[i] for i in range(np.max(y) + 1)])

                    0      1      2      3       4       5       6       7
training set   19.36%  0.00%  0.00%  0.00%  36.24%  23.44%   8.48%  12.48%
train - fold0  19.29%  0.00%  0.00%  0.00%  36.44%  23.20%   7.91%  13.16%
test - fold0   20.00%  0.00%  0.00%  0.00%  34.40%  25.60%  13.60%   6.40%
train - fold1  19.02%  0.00%  0.00%  0.00%  36.53%  23.38%   8.44%  12.62%
test - fold1   22.40%  0.00%  0.00%  0.00%  33.60%  24.00%   8.80%  11.20%
train - fold2  19.38%  0.00%  0.00%  0.00%  35.73%  23.64%   8.44%  12.80%
test - fold2   19.20%  0.00%  0.00%  0.00%  40.80%  21.60%   8.80%   9.60%
train - fold3  19.91%  0.00%  0.00%  0.00%  36.36%  23.29%   8.00%  12.44%
test - fold3   14.40%  0.00%  0.00%  0.00%  35.20%  24.80%  12.80%  12.80%
train - fold4  19.47%  0.00%  0.00%  0.00%  36.62%  23.29%   8.36%  12.27%
test - fold4   18.40%  0.00%  0.00%  0.00%  32.80%  24.80%   9.60%  14.40%
train - fold5  19.56%  0.00%  0.00%  0.00%  36.18%  23.38%   9.07%  11.82%
test - fold5   17.60%  0.00%  0.00%  0.00%  36.80%  24.00%   3.20%  18.40%
train - fold6  19.38%  0.00%  0.00%  0.00%  36.09%  23.29%   8.62%  12.62%
test - fold6   19.20%  0.00%  0.00%  0.00%  37.60%  24.80%   7.20%  11.20%
train - fold7  19.38%  0.00%  0.00%  0.00%  36.36%  23.64%   8.44%  12.18%
test - fold7   19.20%  0.00%  0.00%  0.00%  35.20%  21.60%   8.80%  15.20%
train - fold8  19.11%  0.00%  0.00%  0.00%  36.44%  23.38%   8.80%  12.27%
test - fold8   21.60%  0.00%  0.00%  0.00%  34.40%  24.00%   5.60%  14.40%
train - fold9  19.11%  0.00%  0.00%  0.00%  35.64%  23.91%   8.71%  12.62%
test - fold9   21.60%  0.00%  0.00%  0.00%  41.60%  19.20%   6.40%  11.20%

In [117]:

train_id = train_fold[fold_num]
test_id = test_fold[fold_num]

In [118]:
before_test_path = os.path.join(_path, test_name)
train_path = os.path.join(_path, 'train')

for plane in os.listdir(before_test_path):
    if plane[0] == '.':
        continue
    print(plane)

    now_path = os.path.join(before_test_path, plane)
    des_path = os.path.join(train_path, plane)
    
    if not os.path.exists(des_path):
        os.makedirs(des_path)
    
    for num in tqdm(os.listdir(now_path)):
        shutil.move(
            os.path.join(now_path, num),
            os.path.join(des_path, num)
        )
if os.path.exists(os.path.join(_path, 'valid')):
    shutil.rmtree(os.path.join(_path, 'valid'))

sagittal

100%|██████████| 125/125 [00:00<00:00, 3555.70it/s]

axial

100%|██████████| 125/125 [00:00<00:00, 3182.60it/s]

coronal

100%|██████████| 125/125 [00:00<00:00, 3657.35it/s]

In [119]:
test_path = os.path.join(_path, 'test')
if not os.path.exists(test_path):
    os.makedirs(test_path)

for plane in os.listdir(train_path):

    if plane[0] == '.':
        continue
    print(plane)

    now_path = os.path.join(train_path, plane)
    des_test_path = os.path.join(test_path, plane)
    if not os.path.exists(des_test_path):
        os.makedirs(des_test_path)

    for num in tqdm(test_id):
        file_name = str(num).zfill(4) + '.npy'
        shutil.copy(
            os.path.join(now_path, file_name),
            os.path.join(des_test_path, file_name)
        )

sagittal

100%|██████████| 125/125 [00:00<00:00, 491.71it/s]

axial

100%|██████████| 125/125 [00:00<00:00, 471.20it/s]

coronal

100%|██████████| 125/125 [00:00<00:00, 522.94it/s]

In [120]:
csv_list = glob(os.path.join(_path, '*.csv'))
for csv_file in csv_list:
    os.remove(csv_file)

In [121]:
def name_change(x):
    return str(x).zfill(4)

train_line = [line for line in all if line[0] in train_id]
test_line = [line for line in all if line[0] in test_id]
print(len(train_line))
print(len(test_line))
train_csv = pd.DataFrame(train_line, columns=df.columns)
train_csv['name'] = train_csv['name'].apply(name_change)
valid_csv = pd.DataFrame(test_line, columns=df.columns)
valid_csv['name'] = valid_csv['name'].apply(name_change)

t_abnormal = train_csv[['name', 'abnormal']]
t_abnormal.to_csv(os.path.join(_path, "train-abnormal.csv"), header=False, index=False)
t_acl = train_csv[['name', 'acl']]
t_acl.to_csv(os.path.join(_path, "train-acl.csv"), header=False, index=False)
t_meniscus = train_csv[['name', 'meniscus']]
t_meniscus.to_csv(os.path.join(_path, "train-meniscus.csv"), header=False, index=False)

test_abnormal = valid_csv[['name', 'abnormal']]
test_abnormal.to_csv(os.path.join(_path, "test-abnormal.csv"), header=False, index=False)
test_acl = valid_csv[['name', 'acl']]
test_acl.to_csv(os.path.join(_path, "test-acl.csv"), header=False, index=False)
test_meniscus = valid_csv[['name', 'meniscus']]
test_meniscus.to_csv(os.path.join(_path, "test-meniscus.csv"), header=False, index=False)

1125
125