In [1]:
import json
import numpy as np
import os
from sklearn.model_selection import StratifiedGroupKFold
import pandas as pd
import csv
from tqdm import tqdm
import shutil

In [2]:
abnormal_file = "./data/train-abnormal.csv"
acl_file = "./data/train-acl.csv"
meniscus_file = "./data/train-meniscus.csv"

abnormal_df = pd.read_csv(abnormal_file, names=['name', 'abnormal'])
acl_df = pd.read_csv(acl_file, names=['name', 'acl'])
meniscus_df = pd.read_csv(meniscus_file, names=['name', 'meniscus'])

df = pd.concat([abnormal_df, acl_df['acl'],meniscus_df['meniscus']], axis=1)
df

      name  abnormal  acl  meniscus
0        0         1    0         0
1        1         1    1         1
2        2         1    0         0
3        3         1    0         1
4        4         1    0         0
...    ...       ...  ...       ...
1125  1125         1    0         1
1126  1126         1    0         1
1127  1127         0    0         0
1128  1128         1    0         0
1129  1129         1    1         0

[1130 rows x 4 columns]

In [3]:
classes = {0 : [0,0,0], 1 : [0,0,1], 2 : [0,1,0], 3 : [0,1,1], 4 : [1,0,0], 5 : [1,0,1], 6 : [1,1,0], 7 : [1,1,1]}
# [abnormal, acl, meniscus]

df['class'] = [[k for k, v in classes.items() 
                        if v == [df['abnormal'].iloc[i], df['acl'].iloc[i], df['meniscus'].iloc[i]]][0]
                        for i in range(df.shape[0])]
df

      name  abnormal  acl  meniscus  class
0        0         1    0         0      4
1        1         1    1         1      7
2        2         1    0         0      4
3        3         1    0         1      5
4        4         1    0         0      4
...    ...       ...  ...       ...    ...
1125  1125         1    0         1      5
1126  1126         1    0         1      5
1127  1127         0    0         0      0
1128  1128         1    0         0      4
1129  1129         1    1         0      6

[1130 rows x 5 columns]

In [4]:
all = df.to_numpy()
X = np.ones(all.shape[0])
y = np.array([v[-1] for v in all])
groups = np.array([v[0] for v in all])
# groups
cv = StratifiedGroupKFold(n_splits=10, shuffle=True, random_state=2024)

for train_idx, val_idx in cv.split(X, y, groups):
    print("TRAIN:", groups[train_idx])
    print(" ", y[train_idx])
    print(" TEST:", groups[val_idx])
    print(" ", y[val_idx])

TRAIN: [   1    2    4 ... 1127 1128 1129]
  [7 4 4 ... 0 4 6]
 TEST: [   0    3   12   24   36   44   49   59   74   88   91  103  113  124
  139  145  151  162  172  187  201  211  213  225  240  248  251  263
  272  282  296  304  315  325  335  343  358  369  373  380  392  406
  420  422  432  445  457  472  473  484  495  507  517  531  537  548
  552  561  577  585  598  607  614  622  632  646  659  671  675  685
  697  712  716  720  733  747  756  768  780  792  798  805  820  823
  833  845  858  870  871  879  891  905  917  923  931  947  954  969
  981  989 1001 1002 1014 1027 1038 1051 1058 1068 1071 1088 1099 1103
 1108]
  [4 5 0 4 5 0 7 7 0 5 5 4 7 4 4 4 4 5 4 4 6 4 4 0 5 7 5 5 0 6 0 4 7 7 4 5 4
 4 5 7 7 0 0 4 5 4 5 0 0 4 0 5 7 5 4 0 4 5 5 5 6 7 4 4 4 5 4 0 0 0 6 0 5 5
 4 4 4 5 4 6 4 4 0 0 5 0 0 7 7 0 5 4 6 5 5 0 4 7 4 5 7 7 5 0 5 5 4 5 0 7 4
 4 5]
TRAIN: [   0    2    3 ... 1126 1127 1128]
  [4 4 5 ... 5 0 4]
 TEST: [   1   13   25   38   52   61   66   75   93   94   98  115  120  140
  147  153  161  163  174  188  199  214  226  245  249  259  265  273
  283  293  305  317  326  339  351  362  368  381  385  391  396  410
  423  434  446  460  466  469  486  496  508  518  519  538  549  553
  564  574  584  599  609  613  627  641  647  656  662  674  686  698
  713  721  723  734  744  751  760  769  781  794  806  818  819  834
  846  856  872  880  881  892  906  907  921  932  946  955  959  970
  980  990 1004 1016 1031 1039 1046 1060 1061 1073 1090 1102 1109 1115
 1120 1129]
  [7 4 0 5 5 4 0 4 4 5 5 4 0 7 5 0 4 4 7 7 4 0 4 0 4 7 7 4 0 4 7 6 5 4 4 0 7
 0 5 4 4 0 5 0 5 0 0 7 6 4 5 5 4 4 0 7 5 4 4 0 4 4 4 0 4 4 5 0 4 5 4 7 7 4
 0 5 5 5 6 4 0 0 6 4 7 4 0 4 7 7 4 4 6 7 4 5 0 7 5 5 4 4 5 4 6 6 7 4 5 5 4
 0 5 6]
TRAIN: [   0    1    3 ... 1127 1128 1129]
  [4 7 5 ... 0 4 6]
 TEST: [   2    7   14   28   41   53   63   67   76   92  104  114  123  130
  141  150  164  173  179  190  202  215  217  230  236  250  266  268
  277  284  299  306  312  327  341  348  359  370  386  393  397  407
  424  426  436  447  459  470  487  488  498  504  520  524  539  551
  562  565  578  587  596  610  615  626  634  649  663  670  676  689
  694  714  722  735  752  757  765  771  783  786  789  809  824  832
  836  848  857  873  884  885  896  904  918  927  934  948  964  971
  983  991  998 1009 1017 1026 1040 1049 1062 1063 1074 1085 1104 1112
 1117]
  [4 4 0 5 4 0 5 5 4 5 5 4 0 7 4 7 6 4 7 4 4 7 5 0 6 4 6 0 5 4 0 0 7 5 4 5 4
 5 5 4 5 5 4 5 4 7 0 5 5 7 6 0 6 5 6 7 4 0 4 4 5 4 4 4 0 5 4 6 6 0 4 6 6 6
 7 4 4 4 5 0 6 4 0 4 4 4 5 4 5 5 4 0 4 7 0 6 7 4 0 4 0 6 4 5 4 0 7 4 6 5 4
 5 7]
TRAIN: [   0    1    2 ... 1127 1128 1129]
  [4 7 4 ... 0 4 6]
 TEST: [   4   15   16   30   39   54   60   68   84   95  105  116  125  131
  142  155  165  176  181  192  203  216  218  231  237  252  267  274
  286  297  298  307  316  328  344  349  364  375  379  382  400  411
  427  438  439  449  461  474  489  492  499  509  525  527  541  554
  563  567  579  589  600  602  616  628  636  650  664  677  679  690
  699  706  725  736  753  761  770  775  784  796  801  807  821  838
  840  849  861  874  882  888  895  908  922  935  938  941  961  972
  979  992 1005 1010 1019 1028 1042 1048 1064 1069 1076 1087 1106 1121
 1122]
  [4 4 5 5 5 5 0 4 5 4 7 5 5 0 5 5 4 7 0 4 5 4 4 5 4 0 0 4 6 4 7 4 7 7 5 4 4
 4 4 5 0 4 6 6 0 4 0 5 5 0 0 0 0 6 4 5 0 4 5 0 0 5 4 5 5 4 4 5 5 4 5 4 4 5
 5 7 4 5 5 4 6 0 0 4 4 4 4 0 6 4 5 4 7 4 5 5 5 5 4 0 0 5 0 5 4 4 0 4 0 4 4
 4 4]
TRAIN: [   0    1    2 ... 1127 1128 1129]
  [4 7 4 ... 0 4 6]
 TEST: [   5   18   21   34   42   50   62   72   85   96  102  109  117  132
  144  156  166  178  180  195  200  219  221  228  241  255  260  270
  278  285  300  308  318  330  345  350  360  372  384  399  402  413
  416  425  433  452  462  480  485  497  501  513  528  530  542  558
  566  573  575  590  597  611  629  635  637  651  660  673  681  687
  700  707  717  730  737  741  758  772  785  793  802  813  825  839
  850  859  863  875  883  898  900  909  925  933  940  944  962  973
  985  993 1003 1018 1020 1034 1041 1052 1065 1078 1079 1092 1096 1116
 1124]
  [5 7 0 4 5 4 6 7 4 0 4 7 0 4 0 4 6 7 5 4 4 4 4 0 4 6 5 7 4 7 4 6 7 4 4 5 5
 0 0 4 4 4 5 0 5 5 0 4 4 4 7 6 7 5 0 0 4 5 5 4 0 6 5 5 0 6 7 4 4 5 0 5 4 4
 4 4 4 0 5 7 0 0 0 4 6 0 5 4 0 4 5 5 4 6 4 0 4 4 5 5 0 4 0 0 7 0 5 7 6 4 7
 5 4]
TRAIN: [   0    1    2 ... 1126 1128 1129]
  [4 7 4 ... 5 4 6]
 TEST: [   6   19   26   27   45   51   65   77   80   97   99  118  127  134
  143  157  167  182  183  198  204  209  220  229  242  256  261  275
  287  289  294  309  320  332  337  353  361  374  388  401  403  417
  428  435  444  450  463  475  481  490  503  514  532  534  543  546
  560  568  576  592  601  612  617  638  639  652  666  672  691  692
  702  709  729  731  740  754  762  773  787  797  803  808  826  828
  835  851  864  876  886  903  910  911  924  939  949  956  957  974
  987  994 1007 1021 1024 1029 1044 1050 1072 1077 1089 1095 1098 1113
 1127]
  [4 5 0 5 5 4 4 0 7 4 0 0 0 4 0 5 4 5 5 7 5 4 5 4 4 0 4 6 4 4 5 6 7 5 0 4 5
 7 5 4 4 5 0 0 5 0 5 0 4 5 0 4 0 4 5 5 4 4 4 4 5 4 5 4 4 4 5 5 5 7 4 4 6 4
 7 4 4 7 4 0 4 0 4 4 5 4 5 4 0 4 5 6 0 4 6 4 6 4 4 5 0 0 0 4 4 4 0 5 4 4 4
 4 0]
TRAIN: [   0    1    2 ... 1126 1127 1129]
  [4 7 4 ... 5 0 6]
 TEST: [   8   17   29   31   47   55   69   70   78  100  106  110  126  128
  146  159  171  177  191  196  207  212  227  233  243  257  264  279
  290  295  311  322  333  338  340  354  363  376  387  404  412  414
  429  443  448  453  464  479  493  505  510  511  522  536  540  555
  569  581  591  593  603  618  630  644  648  653  661  669  695  701
  703  710  732  738  748  759  774  782  788  799  810  811  822  829
  841  854  860  877  887  899  912  914  928  936  945  960  963  975
  982  996 1011 1015 1030 1033 1043 1054 1059 1080 1081 1091 1107 1123
 1128]
  [4 0 4 4 4 4 4 5 5 4 0 0 7 0 4 5 6 0 7 5 4 4 0 4 0 4 6 4 4 4 7 6 5 4 5 4 0
 4 0 0 4 5 5 4 6 4 4 4 4 4 4 5 7 4 4 6 5 5 4 4 4 4 4 0 5 6 5 4 4 7 0 6 4 4
 4 0 4 4 0 0 7 4 5 4 0 5 0 4 5 4 5 5 6 6 7 0 5 4 5 4 0 4 5 4 4 6 7 5 0 4 7
 0 4]
TRAIN: [   0    1    2 ... 1127 1128 1129]
  [4 7 4 ... 0 4 6]
 TEST: [   9   20   32   33   46   56   71   79   90  101  107  121  122  136
  138  160  168  184  186  193  205  222  232  234  244  258  262  280
  291  301  310  323  331  342  352  355  365  371  383  389  405  415
  430  437  451  455  465  478  482  502  512  516  526  533  545  559
  570  582  586  588  604  620  633  642  654  655  667  678  680  688
  704  715  724  739  755  763  764  776  790  795  812  814  827  837
  842  852  865  878  890  894  913  919  926  937  950  952  966  976
  984 1000 1006 1022 1035 1045 1055 1056 1066 1082 1093 1097 1101 1125]
  [4 5 5 5 6 4 6 5 5 6 4 4 0 4 7 4 7 4 5 6 6 0 4 5 0 0 4 5 0 4 6 7 7 0 4 7 4
 4 5 4 4 0 0 0 4 4 0 5 5 5 4 4 5 0 4 6 5 7 5 0 5 7 5 4 5 5 4 0 5 7 4 4 7 4
 4 6 4 7 4 4 7 6 4 4 7 4 4 0 5 0 7 5 0 0 5 4 4 4 0 0 0 4 4 4 4 5 4 0 0 4 7
 5]
TRAIN: [   0    1    2 ... 1127 1128 1129]
  [4 7 4 ... 0 4 6]
 TEST: [  10   22   37   40   43   57   64   82   86   89  108  111  129  135
  148  152  169  175  194  197  206  223  235  239  246  254  269  276
  288  302  313  324  329  334  346  356  366  377  394  398  408  418
  419  440  454  458  468  471  476  494  500  515  523  544  550  557
  571  580  594  605  619  621  623  640  643  657  665  683  696  705
  711  718  727  742  743  749  766  777  778  800  815  817  831  843
  853  862  866  869  889  901  915  920  929  942  951  965  967  977
  988  995 1008 1012 1023 1032 1047 1053 1067 1083 1086 1100 1110 1114
 1118]
  [5 5 7 0 5 5 4 0 4 5 5 5 4 6 4 5 4 4 5 4 4 4 5 0 4 4 4 4 4 7 7 7 7 4 4 5 6
 0 4 4 5 4 5 4 4 7 4 6 0 7 5 0 4 5 4 7 0 0 5 5 7 0 4 6 4 5 4 5 4 4 0 5 0 5
 4 5 5 0 7 4 4 5 4 5 5 5 0 6 4 4 4 7 4 4 4 4 4 7 4 4 0 4 4 4 4 5 4 5 0 5 5
 4 4]
TRAIN: [   0    1    2 ... 1127 1128 1129]
  [4 7 4 ... 0 4 6]
 TEST: [  11   23   35   48   58   73   81   83   87  112  119  133  137  149
  154  158  170  185  189  208  210  224  238  247  253  271  281  292
  303  314  319  321  336  347  357  367  378  390  395  409  421  431
  441  442  456  467  477  483  491  506  521  529  535  547  556  572
  583  595  606  608  624  625  631  645  658  668  682  684  693  708
  719  726  728  745  746  750  767  779  791  804  816  830  844  847
  855  867  868  893  897  902  916  930  943  953  958  968  978  986
  997  999 1013 1025 1036 1037 1057 1070 1075 1084 1094 1105 1111 1119
 1126]
  [0 0 5 0 4 4 4 4 6 6 5 4 5 0 5 6 0 6 4 7 0 4 0 4 7 4 5 4 7 7 7 7 4 5 4 4 5
 6 4 0 7 5 5 0 7 0 0 4 0 7 6 4 5 5 4 5 0 4 4 0 7 0 7 7 0 4 4 6 5 5 4 5 4 6
 4 5 4 5 5 4 4 5 4 5 4 0 0 4 5 5 5 4 4 4 4 4 7 4 0 7 4 0 4 5 7 0 4 4 4 5 5
 0 5]

In [5]:
# check distribution
from collections import Counter
import pandas as pd

def get_distribution(y):
    y_distr = Counter(y)
    y_vals_sum = sum(y_distr.values())

    return [f'{y_distr[i]/y_vals_sum:.2%}' for i in range(np.max(y) +1)]

distrs = [get_distribution(y)]
index = ['training set']

for fold_ind, (train_idx, val_idx) in enumerate(cv.split(X,y, groups)):
    train_y, val_y = y[train_idx], y[val_idx]
    train_gr, val_gr = groups[train_idx], groups[val_idx]

    assert len(set(train_gr) & set(val_gr)) == 0 
    
    distrs.append(get_distribution(train_y))
    distrs.append(get_distribution(val_y))
    index.append(f'train - fold{fold_ind}')
    index.append(f'val - fold{fold_ind}')

categories = [i for i in range(8)]
pd.DataFrame(distrs, index=index, columns = [categories[i] for i in range(np.max(y) + 1)])

                    0      1      2      3       4       5       6       7
training set   19.20%  0.00%  0.00%  0.00%  38.32%  24.07%   7.35%  11.06%
train - fold0  18.98%  0.00%  0.00%  0.00%  39.04%  23.70%   7.57%  10.72%
val - fold0    21.24%  0.00%  0.00%  0.00%  31.86%  27.43%   5.31%  14.16%
train - fold1  19.09%  0.00%  0.00%  0.00%  38.58%  24.41%   7.38%  10.53%
val - fold1    20.18%  0.00%  0.00%  0.00%  35.96%  21.05%   7.02%  15.79%
train - fold2  19.47%  0.00%  0.00%  0.00%  38.64%  24.19%   6.69%  11.01%
val - fold2    16.81%  0.00%  0.00%  0.00%  35.40%  23.01%  13.27%  11.50%
train - fold3  19.08%  0.00%  0.00%  0.00%  38.35%  23.40%   7.57%  11.60%
val - fold3    20.35%  0.00%  0.00%  0.00%  38.05%  30.09%   5.31%   6.19%
train - fold4  18.88%  0.00%  0.00%  0.00%  38.64%  24.39%   7.18%  10.91%
val - fold4    22.12%  0.00%  0.00%  0.00%  35.40%  21.24%   8.85%  12.39%
train - fold5  19.08%  0.00%  0.00%  0.00%  37.76%  23.99%   7.57%  11.60%
val - fold5    20.35%  0.00%  0.00%  0.00%  43.36%  24.78%   5.31%   6.19%
train - fold6  19.27%  0.00%  0.00%  0.00%  37.56%  24.58%   7.18%  11.41%
val - fold6    18.58%  0.00%  0.00%  0.00%  45.13%  19.47%   8.85%   7.96%
train - fold7  19.16%  0.00%  0.00%  0.00%  38.41%  24.26%   7.27%  10.90%
val - fold7    19.64%  0.00%  0.00%  0.00%  37.50%  22.32%   8.04%  12.50%
train - fold8  19.86%  0.00%  0.00%  0.00%  37.66%  23.70%   7.67%  11.11%
val - fold8    13.27%  0.00%  0.00%  0.00%  44.25%  27.43%   4.42%  10.62%
train - fold9  19.17%  0.00%  0.00%  0.00%  38.54%  24.09%   7.37%  10.82%
val - fold9    19.47%  0.00%  0.00%  0.00%  36.28%  23.89%   7.08%  13.27%

In [6]:
train_fold = []
valid_fold = []

for train_idx, val_idx in cv.split(X, y, groups):
    # print("TRAIN:", groups[train_idx])
    # print(" ", y[train_idx])
    # print(" TEST:", groups[val_idx])
    # print(" ", y[val_idx])
    train_fold.append(groups[train_idx])
    valid_fold.append(groups[val_idx])

valid_fold[0].shape

(113,)

In [7]:
fold_num = 0
train_id = train_fold[fold_num]
valid_id = valid_fold[fold_num]

In [8]:
new_path = "./new_data"
new_train_path = "./new_data/train"
new_valid_path = "./new_data/valid"

train_path = "./data/train"


for plane in os.listdir(train_path, ):

    if plane[0] == '.':
        continue
    print(plane)

    now_path = os.path.join(train_path, plane)
    des_train_path = os.path.join(new_train_path, plane)
    des_valid_path = os.path.join(new_valid_path, plane)
    if not os.path.exists(des_train_path):
        os.makedirs(des_train_path)
    if not os.path.exists(des_valid_path):
        os.makedirs(des_valid_path)

    for num in tqdm(train_id):
        file_name = str(num).zfill(4) + '.npy'
        shutil.copy(
            os.path.join(now_path, file_name),
            os.path.join(des_train_path, file_name)
        )
    for num in tqdm(valid_id):
        file_name = str(num).zfill(4) + '.npy'
        shutil.copy(
            os.path.join(now_path, file_name),
            os.path.join(des_valid_path, file_name)
        )

axial

100%|██████████| 1017/1017 [00:03<00:00, 315.93it/s]
100%|██████████| 113/113 [00:00<00:00, 284.01it/s]

coronal

100%|██████████| 1017/1017 [00:03<00:00, 306.76it/s]
100%|██████████| 113/113 [00:00<00:00, 330.99it/s]

sagittal

100%|██████████| 1017/1017 [00:03<00:00, 293.08it/s]
100%|██████████| 113/113 [00:00<00:00, 334.21it/s]

In [11]:
def name_change(x):
    return str(x).zfill(4)

train_line = [line for line in all if line[0] in train_id]
valid_line = [line for line in all if line[0] in valid_id]
print(len(train_line))
print(len(valid_line))
train_csv = pd.DataFrame(train_line, columns=df.columns)
train_csv['name'] = train_csv['name'].apply(name_change)
valid_csv = pd.DataFrame(valid_line, columns=df.columns)
valid_csv['name'] = valid_csv['name'].apply(name_change)

t_abnormal = train_csv[['name', 'abnormal']]
t_abnormal.to_csv(os.path.join(new_path, "train-abnormal.csv"), header=False, index=False)
t_acl = train_csv[['name', 'acl']]
t_acl.to_csv(os.path.join(new_path, "train-acl.csv"), header=False, index=False)
t_meniscus = train_csv[['name', 'meniscus']]
t_meniscus.to_csv(os.path.join(new_path, "train-meniscus.csv"), header=False, index=False)

v_abnormal = valid_csv[['name', 'abnormal']]
v_abnormal.to_csv(os.path.join(new_path, "valid-abnormal.csv"), header=False, index=False)
v_acl = valid_csv[['name', 'acl']]
v_acl.to_csv(os.path.join(new_path, "valid-acl.csv"), header=False, index=False)
v_meniscus = valid_csv[['name', 'meniscus']]
v_meniscus.to_csv(os.path.join(new_path, "valid-meniscus.csv"), header=False, index=False)

1017
113

In [10]:
test_path = "./data/valid"
new_test_path = "./new_data/test"

test_csv = ["./data/valid-abnormal.csv", "./data/valid-acl.csv", "./data/valid-meniscus.csv"]

for t in test_csv:
    file_name = "test-" + t[13:]
    shutil.copy(
        t,
        os.path.join(new_path, file_name)
    )

for plane in os.listdir(test_path):
    if plane[0] == '.':
        continue
    print(plane)

    now_path = os.path.join(test_path, plane)
    des_test_path = os.path.join(new_test_path, plane)
    if not os.path.exists(des_test_path):
        os.makedirs(des_test_path)
    
    for num in tqdm(os.listdir(now_path)):
        shutil.copy(
            os.path.join(now_path, num),
            os.path.join(des_test_path, num)
        )

axial

100%|██████████| 120/120 [00:00<00:00, 319.53it/s]

coronal

100%|██████████| 120/120 [00:00<00:00, 310.47it/s]

sagittal

100%|██████████| 120/120 [00:00<00:00, 332.76it/s]